<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{/fragments/head :: head(pageTitle='Foto')}">
  </head>
  <body>
    <div class="container">
      <nav th:replace="~{/fragments/navbar :: navbar(current='Foto')}"></nav>
      <h1 class="my-4">Lista Foto</h1>
      
<!--  alert di modifica o creazione foto-->
      <div th:if="${message != null}" class="alert alert-dismissible fade show"
           th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
        <div th:text="${message.message}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
<!--  form di ricerca      -->
     <div class="d-flex justify-content-between align-items-center">
       <form th:action="@{photos}" method="GET" class="d-flex justify-content-end" >
         <div class="input-group mb-3">
           <input type="search" class="form-control " th:value="${searchString}" placeholder="Cerca per titolo"
                  name="keyword">
           <button class="btn btn-outline-primary" type="submit">Cerca</button>
         </div>
       </form>
       <a class="btn btn-primary"  th:href="@{/photos/create}">Aggiungi nuova foto</a>
       
     </div>

<!--  lista foto -->
      <section class="row my-4" th:if="${photos.size() != 0}">
        <div class="col-3" th:each="p : ${photos}">
          <div class="card h-100">
            <!-- <img class="img-fluid card-img-top" th:src="${p.url}" alt="immagine non disponibile"> -->
            <img class="img-fluid card-img-top" th:src="@{|/files/image/${p.id}|}" alt="Immagine" src="">
            <div class="card-body p-2">
              <h3 class="mb-0" th:text="${p.title}"></h3>
            </div>
            <hr class="p-0 m-2"/>
            
<!--        sezione button di dettagli, modifica, cancellazione foto -->
            <div class="card-body p-2 d-flex align-items-center">
              <a class="btn btn-primary px-2 py-1 me-1"
                th:href="|/photos/${p.getId()}|">
                <i class="fa-solid fa-image"></i>
              </a>
              <a class="btn btn-warning px-2 py-1 me-1"
                th:href="|/photos/edit/${p.getId()}|">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              <form method="post"
                   th:action="@{|/photos/delete/${p.getId()}|}">
                <button class="btn btn-danger px-2 py-1" type="submit"><i class="fa-solid fa-trash-can"></i></button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <h2 th:if="${photos.size() == 0 || photos == null}">
        Non ci sono foto disponibili!
      </h2>
      <section>
        <h2 class="my-5">Messaggi</h2>
        <table class="table table-striped" th:if="${messages.size() != 0}">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Messaggio</th>
              <th scope="col">Ricevuto</th>
              <th scope="col">Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="m : ${messages}" class="align-middle">
              <th scope="row" th:text="${m.id}"></th>
              <td th:text="${m.email}"></td>
              <td th:text="${m.message}"></td>
              <td th:text="${#temporals.format(m.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
              <td class="d-flex align-items-center ">
               
                <form method="post"
                      th:action="@{|/message/delete/${m.getId()}|}">
                  <button class="btn btn-danger px-2 py-1" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                </form>
              </td>
            
            </tr>
          </tbody>
        </table>
        <h2 th:if="${messages.size() == 0 || messages == null}">
          Non ci sono messaggi!
        </h2>
      </section>
    </div>
  </body>
</html>