<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
  minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Errore</title>
</head>
<body>
<h1>Oooops! Non trovo la risorsa che hai chiesto</h1>
<h2><span th:text="${status}"></span> <span th:text="${message}"></span></h2>
  
  <a class="nav-link" th:href="@{/}">Torna alla Lista foto</a>
</body>
</html>